---
import type { MarkdownInstance } from "astro";
import { TestButton } from "../components/test-button";
import type { Frontmatter } from "../types/frontmatter";
import "../styles/global.css";
import Header from "../layouts/header.astro";
import Headline from "../components/headline.astro";
import Layout from "../layouts/layout.astro";

console.log("This runs in your terminal, not the browser!");

const blogs = Object.values(
  import.meta.glob("./blog/*.md", { eager: true })
) as MarkdownInstance<Frontmatter>[];
---

<Layout>
  <div class="grid place-content-center">
    <h2 class="font-sans-serif text-xl">Posts📫</h2>
    <!-- {
        blogs.map((blog) => (
          <a class="font-m-plus-rounded" href={blog.url}>
            {blog.frontmatter.title}
          </a>
        ))
      } -->
    <Headline title="テスト" date="2025-09-26" href="./blog/test" />
    <Headline title="テスト2" date="2025-09-27" href="./blog/test" />
  </div>
</Layout>
