---
import type { MarkdownInstance } from "astro";
import { TestButton } from "../components/test-button";
import type { Frontmatter } from "../types/frontmatter";
import "../styles/global.css";
import Header from "../layouts/header.astro";

console.log("This runs in your terminal, not the browser!");

const blogs = Object.values(
  import.meta.glob("./blog/*.md", { eager: true })
) as MarkdownInstance<Frontmatter>[];
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ataroh blog</title>
    <link rel="icon" href="../../public/favicon.svg" type="image/svg+xml" />
  </head>
  <body>
    <Header />
    <TestButton client:load />
    <div class="grid place-content-center">
      <h2 class="font-reggae-one text-3xl">記事一覧</h2>
      {
        blogs.map((blog) => (
          <a class="font-m-plus-rounded" href={blog.url}>
            {blog.frontmatter.title}
          </a>
        ))
      }
    </div>
  </body>
</html>
