---
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "../types/frontmatter";
import "../styles/global.css";
import Headline from "../components/headline.astro";
import Layout from "../layouts/layout.astro";

console.log("This runs in your terminal, not the browser!");

const blogs = Object.values(
  import.meta.glob("./blog/*.md", { eager: true })
) as MarkdownInstance<Frontmatter>[];
---

<Layout>
  <div class="">
    <div class="grid place-content-center">
      <h2 class="font-sans-serif text-xl">Posts📫</h2>
      {
        blogs.map((b) => (
          <Headline
            title={b.frontmatter.title}
            date={b.frontmatter.date}
            href={b.url}
          />
        ))
      }
    </div>
    <img
      src="https://kauntah-svg.vercel.app/counter.svg"
      referrerpolicy="origin"
      class="block absolute -translate-y-1/2 w-[10.7%] h-auto pointer-events-none select-none"
    />
  </div>
</Layout>
