---
import { TestButton } from "../components/test-button";

console.log("This runs in your terminal, not the browser!");
const now = new Date();
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Hello, World!</h1>
    <p>こんにちは</p>
    <p>{now}</p>
    <TestButton client:load />
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
