---
import IconBox from "../components/iconBox.astro";
---

<div
  class="bg-stone-300 rounded-xl bottom-0 flex flex-col items-center text-center w-screen"
>
  <div class="flex sm:block">
    <a href="/" class="no-decorate">
      <h3 class="font-potta-one text-stone-500 p-3 flex-1">高橋あ太郎</h3></a
    >
    <IconBox />
  </div>
  <div class="sm:p-4">
    <p class="sm:p-2 text-stone-500 text-xs">
      Unless otherwise noted, this website is licensed under
      <a
        href="https://creativecommons.org/licenses/by-nc/4.0/"
        target="_blank"
        rel="license noopener">CC BY-NC 4.0</a
      >. Quoted images remain the copyright of their respective authors.
    </p>
    <p class="sm:p-2 text-stone-500 text-xs">
      Powered by <a
        href="https://astro.build/"
        target="_blank"
        rel="license noopener">Astro</a
      >
    </p>
  </div>
</div>
<style>
  h3 {
    margin: 0;
  }
  p {
    margin: 0;
  }
</style>
