---
import IconBox from "../components/iconBox.astro";
---

<div class="bg-stone-300 rounded-xl flex flex-row">
  <div id="icons" class="basis-1/4"></div>
  <div id="title-box" class="basis-1/2 link-box">
    <a href="/" class="link-box-href">
      <h1
        class="font-potta-one text-center text-6xl font-thin font-strech-expanded text-orange-700 text-shadow-lg/20 p-2"
      >
        高橋あ太郎
      </h1>
      <p
        class="font-m-plus-rounded text-center font-semibold text-gray-600 p-2"
      >
        日記とかを適当にかきます
      </p>
    </a>
  </div>
  <div id="hamburger" class="basis-1/4"></div>
</div>
<style>
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
</style>
