---
import Header from "./header.astro";
import Footer from "./footer.astro";
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ataroh blog</title>
    <link rel="icon" href="../../public/favicon.svg" type="image/svg+xml" />
  </head>
  <body class="bg-stone-50 min-h-dvh grid grid-rows-[auto_1fr_auto]">
    <Header />
    <article>
      <slot />
    </article>
    <Footer />
  </body>
</html>
