---
import Header from "./header.astro";
import Footer from "./footer.astro";
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ataroh blog</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
      integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-stone-50 min-h-dvh grid grid-rows-[auto_1fr_auto]">
    <Header />
    <article>
      <slot />
    </article>
    <Footer />
  </body>
</html>
