---
import { dateStrToYearMonthDay } from "../util/util";
import Layout from "../layouts/layout.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;
const { title, date } = frontmatter;
const { year, month, day } = dateStrToYearMonthDay(date);
---

<Layout>
  <div class="sm:w-200 place-self-center p-5">
    <h1 class="font-zen-maru-gothic text-4xl sm:text-5xl py-5 sm:py-3">
      {title}
    </h1>
    <p class="font-m-plus-rounded sm:text-xs text-zinc-700">
      {year}年 {month}月{day}日
    </p>
    <article class="py-10 sm:py-20">
      <slot />
    </article>
  </div>
</Layout>
<style>
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
</style>
